body {
      background-image: url(../img/index.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size:cover;
      width:100%;
      height:100vh;
}