<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tour list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/tours.css" />
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div class="container">
<table class="table table-bordered table-hover" align="center">
    <tr class="active">
        <td>TypeOfTour</td>
        <td>Country</td>
        <td>City</td>
        <td>Duration</td>
        <td>Price</td>
        <td>Status</td>
        <td>Add</td>
        <td sec:authorize="hasAnyAuthority('ADMIN')">Remove</td>
        <td sec:authorize="hasAnyAuthority('ADMIN')">Edit tour</td>
    </tr>
    <tr class="active" th:each="tour : ${tours}">
        <td th:text="${tour.typeOfTour}">Vacation</td>
        <td th:text="${tour.countryDto.country}">Italy</td>
        <td th:text="${tour.countryDto.city}">Milan</td>
        <td th:text="${tour.days}">10</td>
        <td th:text="${tour.price}">100</td>
        <td th:text="${tour.status}">Горящий</td>
        <td><a th:href="@{/tours/{id}/cart(id=${tour.id})}">Add to cart</a></td>
        <td sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{/tours/{id}/deleteTour(id=${tour.id})}">Remove</a></td>
        <td sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{/tours/{id}(id=${tour.id})}">Edit Tour</a></td>
    </tr>
</table>
</div>
<button type="button" class="btn btn-secondary btn-lg" sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{/tours/showCreateTour}">Create Tour</a></button>
</body>
</html>